/* Apply styling to tables, table headers, and table data cells */
table,
th,
td {
  border: 2px solid #1d1d1d;
  border-collapse: collapse;
  padding: 15px;
}

.project {
  background-color: #555454;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.color {
  color: #f6f7f7;
  display: flex;
  flex-direction: row;
  background-color:rgb(124, 9, 231);
}
.key{
  font-size: large;
  background-color: blue;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}
