html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 10px;
    border: solid black 2px;
    display: inline-block;
    padding: 10px;
  }
  .button:hover{
    transform: scale(-0.9);
    /* rotate: 720deg; */
    transition: 3s;
    /* border-radius: 50%; */
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  